In [2]:
import pandas as pd

In [5]:
pagamento = pd.read_csv('data/olist_order_payments_dataset.csv')
quantidade_vazios = pagamento.isna().sum()
quantidade_vazios

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [7]:
local = pd.read_csv('trusted/localização.csv')
local

,Unnamed: 0,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,0,1037,-23.545621,-46.639292,sao paulo,SP
1,1,1046,-23.546081,-46.644820,sao paulo,SP
2,2,1046,-23.546129,-46.642951,sao paulo,SP
3,3,1041,-23.544392,-46.639499,sao paulo,SP
4,4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...,...
1000158,1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,1000162,99950,-28.070104,-52.018658,tapejara,RS

In [16]:
pedidos = pd.read_csv('trusted/pedidos.csv')
# considerei aqui que os valores nulos foram gerados a partir de problemas de coleta
pedidos.dropna
pedidos.to_csv('gold/pedidos.csv')

In [6]:
pagamento.to_csv('gold/pagamento.csv')

In [7]:
itens_pedido = pd.read_csv('trusted/itens_pedido.csv')

itens_pedido_contagem_nulos = itens_pedido.isna().sum()
print(itens_pedido_contagem_nulos)
# tabela referente aos dados de pedidos em uma compra
# vou mudar o nome do arquivo para ficar
itens_pedido.to_csv('gold/itens_em_cada_compra.csv')

Unnamed: 0             0
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [10]:
categoria_produto = pd.read_csv('trusted/categoria_produto.csv')
categoria_produto

    Unnamed: 0          product_category_name product_category_name_english
0            0                   beleza_saude                 health_beauty
1            1         informatica_acessorios         computers_accessories
2            2                     automotivo                          auto
3            3                cama_mesa_banho                bed_bath_table
4            4               moveis_decoracao               furniture_decor
..         ...                            ...                           ...
66          66                         flores                       flowers
67          67             artes_e_artesanato         arts_and_craftmanship
68          68                fraldas_higiene           diapers_and_hygiene
69          69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70          70             seguros_e_servicos         security_and_services

[71 rows x 3 columns]

In [14]:
vendedores = pd.read_csv('trusted/vendedores.csv')
vendedores_nulos = vendedores.isna().sum()
vendedores_nulos

Unnamed: 0                0
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [22]:
vendedores

,Unnamed: 0,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...,...
3090,3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [32]:
local = pd.read_csv('trusted/localização.csv')
local

,Unnamed: 0,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,0,1037,-23.545621,-46.639292,sao paulo,SP
1,1,1046,-23.546081,-46.644820,sao paulo,SP
2,2,1046,-23.546129,-46.642951,sao paulo,SP
3,3,1041,-23.544392,-46.639499,sao paulo,SP
4,4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...,...
1000158,1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,1000162,99950,-28.070104,-52.018658,tapejara,RS

In [38]:
local['geolocation_lat'] = local['geolocation_lat'].round(2)
local['geolocation_lng'] = local['geolocation_lng'].round(2)
local.to_csv('gold/local.csv')