In [18]:
import pandas as pd

clientes = pd.read_csv('data/olist_customers_dataset.csv')
pagamento = pd.read_csv('data/olist_order_payments_dataset.csv')
avaliacao = pd.read_csv('data/olist_order_reviews_dataset.csv')
localizacao = pd.read_csv('data/olist_geolocation_dataset.csv')  
pedidos = pd.read_csv('data/olist_orders_dataset.csv')  
produtos = pd.read_csv('data/olist_products_dataset.csv')  
vendedores = pd.read_csv('data/olist_sellers_dataset.csv')  
categoria_produto = pd.read_csv('data/product_category_name_translation.csv')

In [68]:
vendedores.to_csv('trusted/vendedores.csv')
print('Vendedores Salvos!')
produtos.to_csv('trusted/produtos.csv')
print('produtos salvos')
categoria_produto.to_csv('trusted/categoria_produto.csv')
print('categoria salva')

Vendedores Salvos!
produtos salvos
categoria salva

In [61]:
# apenas hora
pedidos["order_approved_at"] = (
    pd.to_datetime(pedidos["order_approved_at"]).dt.time
)


# apenas datas 
cols = [
    "order_delivered_carrier_date",
    "order_delivered_customer_date",
    "order_estimated_delivery_date",
    "order_purchase_timestamp",
]

pedidos[cols] = pedidos[cols].apply(
    lambda c: pd.to_datetime(c, errors="coerce").dt.date
)

pedidos.to_csv('trusted/pedidos.csv')
print('pedidos salvos')

pedidos salvos

In [50]:
localizacao.to_csv('trusted/localização.csv')

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [49]:
quantidade_nulos = avaliacao.isnull
quantidade_nulos
avaliacao_renomeada = avaliacao.fillna('Não avaliou')
avaliacao_renomeada
avaliacao_renomeada.to_csv('trusted/avaliacao.csv')
print('avaliação salva em trusted')

avaliação salva em trusted

In [44]:
quantidade_nulos = pagamento.isnull().sum()
print(quantidade_nulos)
# Certifique-se de converter para string antes de usar o .str.replace
pagamento['payment_value'] = pagamento['payment_value'].astype(str).str.replace('.', ',', regex=False)
pagamento_limpo = pagamento.drop('payment value', axis=1)
# salvando como .csv no diretorio trusted
clientes.to_csv('trusted/pagamento.csv')


print('pagamentos alvos como csv!')

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
payment value           0
dtype: int64
pagamentos alvos como csv!

In [35]:
pagamento

,order_id,payment_sequential,payment_type,payment_installments,payment_value,payment value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,"99,33","99,33"
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,"24,39","24,39"
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,"65,71","65,71"
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,"107,78","107,78"
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,"128,45","128,45"
...,...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,"363,31","363,31"
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,"96,8","96,8"
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,"47,77","47,77"
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,"369,54","369,54"
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,"191,58","191,58"

In [21]:
# buscando valores nulos
clientes.isnull().sum()
# procurando valores duplicados
clientes[clientes.duplicated()]

clientes.dtypes
clientes.info()

# salvando como .csv no diretorio trusted
clientes.to_csv('trusted/clientes.csv')


print('clientes salvos como csv!')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
clientes salvos como csv!